
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
body {
    background: #757BC8; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background: #A6AAE2;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    float:right;
    position: relative;
    display: flex;
}

.home-button {
    color: white;
    float:left;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
}


nav a {
    position: relative;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    text-transform: lowercase;
    font-size:35px;
    font-weight: 400;
}

.nav-link {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

  
.nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }
  