---
import Base from "../layout/Base.astro";
---

<Base title="About">
    <div class="container">
        <a class="text-header">About me</a>
        <h2 class="small-page-text">
            Hi I'm Kate, a high school sophomore with a passion for software. My
            programming journey began in elementary school with simple
            drag-and-drop block coding, and from there I continued exploring and
            learning. Outside of programming, I enjoy running my small business
            (withlovekkate on Etsy) and playing videogames!
        </h2>
    </div>
</Base>
