---
import Base from '../layout/Base.astro'
---

<Base title="Contact">
    <h1> Contact Page </h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, perspiciatis, laborum, nemo architecto obcaecati necessitatibus ex molestias quidem cumque cum voluptatem aliquid minima fuga nam! Maxime blanditiis quaerat optio obcaecati?</p>
</Base>