---
import Base from "../layout/Base.astro";
---

<Base title="Kate Lock">
	<head>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<div style="margin-top: 4em;" class="container">
		<h2 class="code">Hello, World!</h2>
		<h1 class="heading">MY NAME IS KATE</h1>
		<h3 class="code">
			high school sophomore <br />exploring software development
		</h3>
		<a href="/portfolio"><button class="button1">MY PORTFOLIO</button></a>
		<hr class="line1" />
		<a
			href="https://www.linkedin.com/in/kathrynlock/"
			target="_blank"
			rel="noopener noreferrer"
			class="fa fa-linkedin fa-2x"></a>
		<a
			href="https://github.com/kathrynlock"
			target="_blank"
			rel="noopener noreferrer"
			class="fa fa-github fa-2x"></a>
		<a
			href="mailto: kathrynerynlock@gmail.com"
			target="_blank"
			rel="noopener noreferrer"
			class="fa fa-regular fa-envelope fa-2x"></a>
	</div>
</Base>
