---
import Project from "../components/Project.astro";
import Base from "../layout/Base.astro";
---

<Base title="Kate Lock's Portfolio">
	<div class="container">
		<a class="text-header">Some recent projects</a>
		<Project />
	</div>
</Base>
