---
import { AstroComponentInstance } from "astro/dist/runtime/server";
import '../styles/style.css'
console.log(Astro.props)
const {title} = Astro.props
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);  
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>
    <header class="site-header">
        <div>{currentPath}</div>
        <div class = "container">
        <a class="home-button" href="/">KATE LOCK</a>
        <nav class="navbar">
            <a class={`${currentPath === "about/" ? "active" : ""} nav-link nav-link-ltr`} href="/about">About</a>
            <a class={`${currentPath === "contact/" ? "active" : ""} nav-link nav-link-ltr`} href="/contact">Contact</a>
            <a class={`${currentPath === "basic/" ? "active" : ""} nav-link nav-link-ltr`} href="/basic">Basic</a>
        </nav>
        </div> 
    </header>
    <slot>this is the default yay</slot>
</body>
</html>