---
import { AstroComponentInstance } from "astro/dist/runtime/server";
import '../styles/styles.css'
console.log(Astro.props)
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>

</head>

<body>
    <header class="site-header">
        <div class = "container">
        <a class="home-button" href="/">KATE LOCK</a>
        <nav>
            <ul>
                <div id = "marker"></div>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/basic">Basic</a></li>
            </ul>
        </nav>
        </div> 
    <script type = "text/javascript">
        var marker = document.querySelector('#marker');
        var item = document.querySelectorAll('nav a');

        function indicator(e){
            marker.style.left = e.offsetLeft+"px";
            marker.style.width = e.offsetWidth+"px";
        }

        item.forEach(link => {
            link.addEventListener('click', (e)=>{
                indicator(e.target);
            })
        })
    </script>
    </header>
    <slot>this is the default</slot>
</body>
</html>